@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: black;
  --foreground: white;
}

body {
  color: var(--background);
  background: var(--foreground);
  font-family: Arial, Helvetica, sans-serif; /* Default font for body */
  margin: 0;
}

main {
  padding-top: 60px; /* Height of the navbar */
  padding-left: 250px; /* Width of the sidebar */
}

.content {
  margin-left: 200px; /* Width of the sidebar */
  padding: 20px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
